planetaurora.dedyn.io {
	tls /etc/caddy/certs/server.crt /etc/caddy/certs/server.key {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/certs/ca.crt
		}
	}

	reverse_proxy mydash:3000
}
